stages:
- build
- deploy
- manual

.build:
  stage: build
  script: 
    - dotnet build -o build -c $CONFIGURATION_NAME

.deploy:
  stage: deploy
  script:
    - dotnet publish -c $CONFIGURATION_NAME -o publish
    - powershell ci/deploy.ps1 publish $APP_DEST_FOLDER $APP_NAME

.restart service:
  stage: manual
  script:
    - powershell ci/restart-service.ps1 $APP_NAME
  when: manual
  
.stop service:
  stage: manual
  script:
    - powershell ci/stop-service.ps1 $APP_NAME
  when: manual
 
build-test:
  extends: .build
  tags:
    - nn23-t
  variables:
      CONFIGURATION_NAME: Staging
  only:
    - TEST

deploy-test:
  extends: .deploy
  tags:
    - nn23-t
  variables:
    CONFIGURATION_NAME: Debug
    ENVIRONMENT_NAME: Staging
  only:
    - TEST
    
deploy-prod:
  extends: .deploy
  tags:
    - nn23-p
  variables:
    CONFIGURATION_NAME: Release
    ENVIRONMENT_NAME: Production
  only:
    - PROD
    
stop prod service:
  extends: .stop service
  tags:
    - nn23-p
  except:
    - PROD

stop test service:
  extends: .stop service
  tags:
    - nn23-t
  except:
    - TEST

restart service:
  extends: .restart service
  tags:
    - nn23-p
  except:
    - PROD
