stages:
- deploy

variables:
  APP_NAME: "CBA Worker HR Email"
  APP_DIR: 'c:\_WORKERS\WorkerHrEmail'


image: mcr.microsoft.com/dotnet/core/sdk:3.1

before_script:
  - echo "start $APP_NAME $APP_DIR"
  - $PSVersionTable.PSVersion
  - dotnet --version
  - dotnet build -c Release 

deploy-prod:
    stage: deploy
    only:
      refs:
        - PROD
    script:
    - echo "deploy prod"
    script: 
    - powershell -Command "Get-Date"
    - powershell -Command "Dir"
    - powershell -Command "New-Item -ItemType Directory -Force -Path $APP_DIR"
    - powershell -Command "Remove-Item -Path '$APP_DIR\*' -Force -Verbose -Recurse"
    - powershell -Command "dotnet publish -o $APP_DIR"
    # - powershell -Command "New-Service -Name '$APP_NAME' -BinaryPathName 'C:\_WORKERS\WorkerUserSpy\WorkerUserSpy.exe'" 
    - powershell -Command "Start-Sleep -s 5"
    - powershell -Command "Get-Service -DisplayName '$APP_NAME' | Start-Service"
    - powershell -Command "Get-Service -DisplayName '$APP_NAME'"
    tags:
    - nn23-p
