stages:
- deploy

variables:
  APP_NAME: "CBA Worker HR Email"
  APP_DIR: 'c:\_WORKERS\WorkerHrEmail'


image: mcr.microsoft.com/dotnet/core/sdk:3.1

before_script:
  - echo "start $APP_NAME $APP_DIR"
  - $PSVersionTable.PSVersion
  - dotnet --version
  - echo ${CI_BUILDS_DIR}
  - echo ${CI_JOB_NAME}
  - echo ${CI_PROJECT_DIR}
  - echo ${CI_PROJECT_PATH}
  - echo ${CI_PROJECT_NAME}
  - echo ${CI_RUNNER_ID}
  - echo ${CI_RUNNER_TAGS}
  - echo ${CI_RUNNER_DESCRIPTION}
  - echo ${CI_CONCURRENT_ID}
 # - nuget help | select-string Version
 # - powershell -Command "Remove-Item -Recurse -Force ${CI_PROJECT_DI}\*"
  - echo "Starting SCCBA build proccess"
  #- powershell -Command "New-Item -ItemType Directory -Force -Path ..\..\Common"
  # - powershell -Command "New-Item -ItemType Directory -Force -Path ..\..\Common\SCCBA"
  - powershell -Command "git clone http://gitlab.stada.ru/cba/common/sccba.git ${CI_PROJECT_DIR}/sccba"
  - powershell -Command "Remove-Item ..\..\COMMON\* -Force -Recurse -ErrorAction Continue"
  - powershell -Command "Move-Item -Path ${CI_PROJECT_DIR}/sccba -Destination ../../Common -ErrorAction Continue -Verbose -Force"
  - dotnet build -c Release 
    

deploy-prod:
    stage: deploy
    only:
     refs:
      - PROD
    script:
    - echo "deploy prod"
    script: 
    - powershell -Command "Get-Date"
    # - powershell -Command "Get-Service -DisplayName '$APP_NAME' -ErrorAction Ignore | Stop-Service"
    # - powershell -Command "New-Item -ItemType Directory -Force -Path ..\..\Common"
    # - powershell -Command "Start-Sleep -s 10"
    # - powershell -Command "git clone http://gitlab.stada.ru/cba/common/sccba.git ${CI_PROJECT_DIR}/sccba"
    # - powershell -Command "Remove-Item ..\..\common\* -Force -Recurse -ErrorAction Continue"
    # - powershell -Command "Move-Item -Path ${CI_PROJECT_DIR}/sccba -Destination ../../Common -ErrorAction Continue -Verbose -Force"
    - powershell -Command "Dir"
    - powershell -Command "New-Item -ItemType Directory -Force -Path $APP_DIR"
    - powershell -Command "Remove-Item -Path '$APP_DIR\*' -Force -Verbose -Recurse"
    - powershell -Command "dotnet publish -o $APP_DIR"
    #- powershell -Command "Rename-Item -Path '$APP_DIR\appsettings.json' -NewName 'appsettings1.json'"
    #- powershell -Command "Rename-Item -Path '$APP_DIR\appsettings.Staging.json' -NewName 'appsettings.json'"
    #- powershell -Command "New-Service -Name '$APP_NAME' -BinaryPathName 'C:\_WORKERS\WorkerUserSpy\WorkerUserSpy.exe'" 
    - powershell -Command "Start-Sleep -s 5"
    - powershell -Command "Get-Service -DisplayName '$APP_NAME' | Start-Service"
    - powershell -Command "Get-Service -DisplayName '$APP_NAME'"
    tags:
    - nn23-p
