stages:
- build
- test
- deploy
- manual

.build:
  stage: build
  script: 
    - dotnet build -o build -c $CONFIGURATION_NAME

.deploy:
  stage: deploy
  script:
    - dotnet publish -c $CONFIGURATION_NAME -o publish /p:EnvironmentName=$ENVIRONMENT_NAME
    - powershell ci/deploy.ps1 publish

.restart service:
  stage: manual
  script:
    - powershell ci/restart-service.ps1 $APP_NAME
  when: manual

build:
  extends: .build
  tags:
    - nn23-t
  variables:
      CONFIGURATION_NAME: Debug
  except:
    - PROD
    - TEST
   
build:
  extends: .build
  tags:
    - nn23-t
  variables:
      CONFIGURATION_NAME: Staging
  only:
    - TEST

# test:
#  extends: .test
#  tags:
#    - nn19
#  except:
#    - release

deploy-test:
  extends: .deploy
  tags:
    - nn23-t
  variables:
    CONFIGURATION_NAME: Staging
    ENVIRONMENT_NAME: Staging
  only:
    - TEST
    
deploy-prod:
  extends: .deploy
  tags:
    - nn23-p
  variables:
    CONFIGURATION_NAME: Production
    ENVIRONMENT_NAME: Production
  only:
    - PROD

restart service:
  extends: restart service
  tags:
    - nn23-p
  variables:
    APP_NAME: APP_NAME
  except:
    - PROD
